
# Torch for Cuda is not hosted on pypi but is hosted
# on a separate index by pytorch
--extra-index-url https://download.pytorch.org/whl/cu126

torch

matplotlib
numpy
lightning
scikit-learn
streamlit==1.54.0

